.modal{
    position: absolute;
    top: 200px;
}
.overlay{
    position: absolute;
    display: block;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.5);
}

.hide{
    display: none;
}
.show{
    color: red;
    font-size:14px;
}



