.comment-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.author-details {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.author-details img {
    width: 40%;
    border-radius: 50%;
}

.comment-text {
    width: 85%;
}

.card-panel {
    border-radius: 10px !important;
}